{# templates/icon/creer.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Ajouter un icon{% endblock %}

{% block body %}
	<h2>Ajouter un icon</h2>
	{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}